
  
  h1, 
  h2,
  h3,
  h4,
  h5,
  h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    /* font-style: italic; */
  }
  
  h1 {
    font-size: 40px;
    line-height: 1.5;
    letter-spacing: -.2px;
    color: white;
    margin: 0;
    /* margin: 100px 150px 70px 30px; */
    /* text-transform: uppercase; */
    /* text-decoration: dashed; */
    z-index: 2;
  }

  h1 strong {
    color: rgb(49, 175, 180);
  }

  h2 {
    /* color: rgb(49,175, 180); */
    color: white;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
  }

  .portfolio {
    //background-color: grey;
    //background: radial-gradient(#AC3CA8, black);
    background: radial-gradient(#493845, black);
    padding: 10px;
    margin-bottom: -1px;
  }
  
  .project {
    border: 5px solid gray;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 35px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .project-course,
  .project-date,
  .project-url {
    margin: 10px 0;
  }

  .project-description {
    font-size: 20px;
  }

  .project strong {
    font-family: 'Fjalla One', sans-serif;
  }
  
  .project-title {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    color: #0009;
  }
  
  .project-details {
    //width: 40%;
  }
  
  .project-imageContainer {
    //width: 60%;
  }

  .experience-icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    //margin-left: 10%;
    //margin-right: 10%;
    margin: 5% 10%;
  }

  .project-imageContainer img {
    max-width: 100%;
  }
  
  ol,
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  figure {
    margin: 0 0 10px 0;
  }

  .container-job {
   /*  border: 1px solid red;  */
    max-width: 1000px;
    /* width: 100%; */
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
  }

  .timeline-head {
    margin-bottom: 12px;
  }

  ol li .timeline-head{
    display: flex;
    text-decoration: none;
    color: black;
  }

  .experience-container.list-container {
    padding: 10px 0;
   }

  .experience-container {

    width: 100%;
    margin-left: 10%;

    .list-container {
        .timeline {
            background-image: none;
            -ms-flex-negative: 0;
            flex-shrink: 0;
            margin-top: 0;

            display: block;
            width: 48px;
            height: 48px;
            /* margin-top: 4px; */
            margin-right: 12px;
        }

        .timeline, figure>img {
            display: block;
            width: 48px;
            height: 48px; 
            margin-top: 4px;
        }

    }

   .position-detail {
        margin-left: 5px;
    }

    .landmark {
        position: relative;
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color:#d8d8d8;
    }

    .landmark-container {
        display: flex;
        height: 2rem;
        align-items: center;
        justify-content: center;
    }

    .timeline.path::before {
        content: "";
        position: absolute;
        top: 12px;
        left: 24px;
        width: 1px;
        height: 100%;
        background: #d8d8d8;
    }

    dl {
        padding-bottom: 12px;
    }

    dd {
        margin-right: 5px;
    }

    .entity-description{
        font-size: .9em;
       // display: none;
    }
    
  }

  .empresa{
    line-height: 1.5;
  }

  .large-semibold{
    font-weight: 600;
  }

  .medium {
    font-size: 0.8em;
  }


  .role-container {
    display: flex;
    position: relative;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
  }


  dl {
    display: block;
    margin-block-start: .3em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .tecnologias-herramientas{
    margin: 20px;
  }

  .medium-semibold {
    font-size: 1em;
    font-weight: 500;
    color: #0009;
  }

  .medium.time-period{
    font-size: .9em;
    color: #0009;
  }

  dd {
    display: block;
    margin-inline-start: 0;
  }

  .small-light {
    font-size: .8em;
    font-weight: 500;
    color: rgba(0,0,0,0.6);
  }

  .tecnologia-text, .herramienta-text {
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubun-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue","Fira Sans",Ubuntu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-seriftu,Oxygen,"Oxygen Sans",Cantarell,"Droid Sans","Apple Color Emoji","Segoe UI Emoji","Segoe UI Emoji","Segoe UI Symbol","Lucida Grande",Helvetica,Arial,sans-serif;
    font-size: 14px;
    color: #0009;
  }

  .tecnologia-icon, .herramienta-icon {
    font-size: 2.3em;
    margin: 5px;
    //color: #0009;
  }

  .description-text {
    display: block;
  }

  .description.medium {
    margin-top: 0.8em; 
  }

  .experience-roles-container {
    margin-right: 10em;
  }
  /* END section experience*/


  /* Evitar sombreado azul al dar click*/
  a { 
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
  }

  h6 a{
    text-decoration: none;
    color: black;
    cursor: default;
  }

  .portafolio-experience-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    //margin-top: 50px;
    padding-top: 100px;

    h2{
        font-family: "Fira Sans", sans-serif;
        font-weight: 600;
        font-size: 2rem;
        //color: black;
        color: white;
        margin-bottom: 10px;
        text-transform: capitalize;
    }
  }

  .job-experience{
    display: flex;
    flex-wrap: nowrap;

    .job-experience_header{
        width: 350px;
    }

    .iconShowMore{
        font-size: 30px;
        color: green;
        display: flex;
        align-items: center;
        margin-left: 55px;
    }
  }    



  /* Desktop first que empieces desde el MQ más grande*/

  /* ultra panorámica - una medida máx estandar */ 
  @media screen and (max-width: 3440px){

  }

  /* ultra panorámica */
  @media screen and (max-width: 2560px){
    
    h1 {
      font-size: 2em; 
    }

    .container-job {
      padding: 0 1em;
    }
  }

  @media screen and (max-width: 767px){

    h2 {
      font-size: 1.2em;
      margin: .5em 0;
    }

    .project {
      display: block;
    }

    .project-imageContainer {
      width: auto;
      text-align: center;
    }

    .project-details {
      width: auto;
      /* font-size: 16px; */
      transition: 0.55s;
    }

    .project-course, .project-date, .project-url {
      margin: .3em 0;
    }

    .project-title {
      font-size: 1.5em;
      margin-bottom: .3em;
    }

    .project-url {
      font-size: 1em;
    }

    .project-course {
      font-size: .7em;
    }

    .project-date {
      font-size: 1em;
    }

    .project-description {
      font-size: 1em;
    }

    .experience-container dd {
      margin-right: 10px;
    }

    .job-experience{

        .iconShowMore{
            margin-left: 25px;
        }
    } 

    .experience-icons {
        flex-wrap: wrap;
    }

    .tecnologias-herramientas {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

  }

  @media screen and (max-width: 590px){
    .job-experience{

        .job-experience_header{
            width: 300px;
        }

        .iconShowMore{
            margin-left: 20px;
        }
    } 
  }

  @media screen and (max-width: 480px){
    h1 {
      font-size: 1.5em;
    }

    .project-details {
      width: auto;
      font-size: 14px;
    }

    .herramienta-text{
    }

    .tecnologia-text, .herramienta-text{
      font-size: .8em;
    }

    .tecnologia-icon, .herramienta-icon {
      font-size: 2em;
    }

    .experience-container dd {
      margin-right: 5px;
      transition: 0.55s;
    }

    .experience-roles-container {
      margin-right: 2em;
    }

    .job-experience{
        .job-experience_header{
            width: auto;
        }

        .iconShowMore{
            margin-left: 20px;
        }
    } 

    .portafolio-experience-title{
        h2{
            text-align: center;
        }
    }

  }

  @media screen and (max-width: 320px){

    h1 {
      font-size: 1.2em;
      /* background: rgb(0, 0, 0,.5); */
    }

    .portfolio{
      padding: 0 0;
    }

    .medium-semibold {
      font-size: .8em;
    }
    
    .medium.time-period {
      font-size: .7em;
    }

    .small-light {
      font-size: .7em;
    }
    
    .medium.entity-description {
      font-size: .8em;
    }

    .job-experience{
        .iconShowMore{
            margin-left: 0px;
        }
    } 

  }

  @media screen and (max-width: 280px){
    .medium {
      font-size: .7em;
    }

    .experience-container { 
      .list-container {
        .timeline {
            margin-right: 0px;
        }
      }
    }



  } 

