.header {
    padding: 25px 0px 25px 0px;
    //background: radial-gradient(#433243, black);
    background: #181218;
    filter: drop-shadow(0 0 2.75rem #AC3CA8);
    //background: radial-gradient(#43313D, black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 8%;
    padding-left: 8%;

    ion-buttons {
        ion-menu-button {
            display: none;
        }

    }
}

.container {
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    max-width: 1000px;
    color: white;

    img {
        width: 50px;
    }
}

.header_links {
    display: block;
    ion-label {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        font-size: 15px;
        text-transform: capitalize;
        color: white;
    }

    ion-icon {
        color: white;
    }

    .labelLink {
        margin-left: 5px;
    }
}


@media screen and (orientation: portrait) and (max-width: 767px) {
    .container {
        justify-content: center;
    }

    .header_links {
        display: none;
    }

    .header {
        padding-right: 15%;
        position: fixed;
        width: 100%;
        z-index: 1000;

        ion-buttons {
            ion-menu-button {
                color: white;
                display: initial;
            }

        }
    }


}