.hidden {
  contain: layout size style;
}

.contentPageProjects { 
  
}

@media screen and (max-width: 767px) {
  .contentPageProjects {
    background: radial-gradient(#493845, black);
    //filter: drop-shadow(0 0 3.75rem #AC3CA8);
    padding-top: 25%;
  }
}  


@media screen and (max-width: 425px) {
  .contentPageProjects {
    padding-top: 35%;
  }
}

@media screen and (max-width: 280px) {
  .contentPageProjects {
    padding-top: 40%;
  }
}