
  <section id="portafolio" class="portfolio">

    <div class="portafolio-experience-title">
      <h2>Mi Experiencia laboral</h2>
    </div>

    <div class="container-job">
      <article class="project">
        <section class="experience-container">  
          <ol>
            <li class="list-container">
              <a href="javascript:void(0);" class="timeline-head">
                <figure>
                  <img lazyload="true" class="company-logo" width="100" height="100" src="assets/images/everis-logo.jpeg" alt="companyName">
                </figure>
                <div class="position-detail">
                  <div class="large-semibold"><span class="empresa">everis</span></div>
                  <div class="medium"> 3 años y 10 meses</div>
                </div>
              </a>
              <div class="experience-roles-container collapsable-list-container">
                <ul>
                  <li class="role-container">
                    <div class="timeline path">
                      <div class="landmark-container">
                        <div class="landmark"></div>
                      </div>
                    </div>
                    <dl>
                      <div class="job-experience">
                        <div class="job-experience_header">
                          <dt class="medium-semibold"><span>Scrum Master | Technical Lead Developer</span></dt>
                          <dd class="medium time-period">
                            <span class="medium">abr. 2020 - </span><span class="medium">actualidad • 1 año</span>
                          </dd>
                          <dd class="small-light entity-location"><span>Parque empresarial La Finca, Pozuelo de Alarcón, Madrid</span></dd>
                        </div>
                        <div (click)="showJobExperience()" class="iconShowMore">
                          <dd>
                            <ion-icon slot="icon-only" [name]="iconName"></ion-icon>
                          </dd>
                        </div>
                      </div>
                      <dd class="medium entity-description" *ngIf="showDetailJobExperience" id="job-experience-1">
                        <div class="description medium">
                          <span class="description-text">Scrum Master | Technical Lead Developer - Hybrid Mobile App con Angular JS y Ionic 1</span>
                          <br>
                          <span class="description-text">Actividades:</span>
                          <span class="description-text">• Líder de equipo de desarrollo de hasta 15 personas en el e-care APP MiOrange</span>
                          <span class="description-text">• Orientar al equipo en la calidad del código con uso de test unitarios - Karma/Jazmine</span>
                          <span class="description-text">• Desarrollo y mantenimiento con Angular JS, Ionic 1, Cordova</span>
                          <span class="description-text">• Análisis de la calidad del código con SonarQube</span>
                          <span class="description-text">• Integración continua con jenkins</span>
                          <span class="description-text">• Actualización de apps y notificación tipo PUSH con IBM Worklight/Mobilefirst</span>
                          <span class="description-text">• Desarrollo de evolutivos mediante metodología Scrum.</span>
                          <span class="description-text">• Generación de paquetes binarios con Cordova, XCode, Android Studio</span>
                          <span class="description-text">• Distribución de APK/IPA con AppCenter</span>
                          <span class="description-text">• Gestión de equipo</span>
                          <span class="description-text">• IDE: Visual Studio Code</span>
                        </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="role-container">
                    <div class="timeline path">
                      <div class="landmark-container">
                        <div class="landmark"></div>
                      </div>
                    </div>
                    <dl>
                      <div class="job-experience">
                        <div class="job-experience_header">
                          <dt class="medium-semibold"><span>Solutions Analyst | Mobile App Developer</span></dt>
                          <dd class="medium time-period">
                            <span class="medium">feb. 2019 - </span><span class="medium">abr. 2020 • 1 año y 3 meses</span>
                          </dd>
                          <dd class="small-light entity-location"><span>Parque empresarial La Finca, Pozuelo de Alarcón, Madrid</span></dd>
                        </div>
                        <div (click)="showJobExperience()" class="iconShowMore">
                          <dd>
                            <ion-icon slot="icon-only" [name]="iconName"></ion-icon>
                          </dd>
                        </div>
                      </div>
                      <dd class="medium entity-description" *ngIf="showDetailJobExperience">
                        <div class="description medium">
                          <span class="description-text">Analista/Desarrollador - Hybrid Mobile App con Angular 5 y Ionic 3</span>
                          <br>
                          <span>Actividades:</span>
                          <span class="description-text">• Desarrollos de nuevos evolutivos en el e-care APP "MiJazztel"</span>
                          <span class="description-text">• Desarrollos con Angular 5, Ionic 3, Cordova, HTML5, CCS3/SASS, Typescript - Consumo de API REST y uso de Callbacks, Promesas, Observables</span>
                          <span class="description-text">• Test unitarios y cobertura del código con Karma/Jazmine</span>
                          <span class="description-text">• Análisis de la calidad del código con SonarQube</span>
                          <span class="description-text">• Integración continua con jenkins</span>
                          <span class="description-text">• Actualización de apps y notificación tipo PUSH con IBM Worklight/Mobilefirst</span>
                          <span class="description-text">• Desarrollo de evolutivos mediante metodología Scrum</span>
                          <span class="description-text">• Puesta en marcha de las mejoras implementadas</span>
                          <span class="description-text">• Generación de paquetes binarios con Cordova, XCode, Android Studio</span>
                          <span class="description-text">• IDE: Visual Studio Code</span>
                          <span class="description-text">• Gestión de equipo de desarrollo</span>
                        </div>
                      </dd>
                    </dl>
                  </li>
                  <li class="role-container">
                    <div class="timeline">
                      <div class="landmark-container">
                        <div class="landmark"></div>
                      </div>
                    </div>
                    <dl>
                      <div class="job-experience">
                        <div class="job-experience_header">
                          <dt class="medium-semibold"><span>Solutions Assistant | Developer PHP</span></dt>
                          <dd class="medium time-period">
                            <span class="medium">jun. 2017 - </span><span class="medium">feb. 2019 • 1 año y 9 meses</span>
                          </dd>
                          <dd class="small-light entity-location"><span>Camino de la Fuente de la Mora, 1, Madrid</span></dd>
                        </div>
                        <div (click)="showJobExperience()" class="iconShowMore">
                          <dd>
                            <ion-icon slot="icon-only" [name]="iconName"></ion-icon>
                          </dd>
                        </div>
                        
                      </div>
                      <dd class="medium entity-description" *ngIf="showDetailJobExperience">
                        <div class="description medium">
                          <span>Desarrollo/Mantenimiento de aplicaciones web con Framework Symfony PHP, HTML, CSS, Javascript, MySQL y metodología de trabajo Agile. Dichas aplicaciones estaban dirigidas a distribuidores y puntos de venta de la empresa Orange.</span>
                        </div>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </li>
          </ol>
        </section> 
        <div class="experience-icons">
          <div class="project-details">
            <h3 class="project-title">Tecnologías y Herramientas</h3>
          </div>
          <figure class="project-imageContainer">
            <!-- <img class="project-image" src="images/app-with-react.png" width="500" alt="proyecto de React Native"> -->
            <div class="tecnologias-herramientas">
              <span class="tecnologia-text">Angular 5 | Ionic 3 | JavaScript ES6 | HTML 5 | CSS || SASS | Cordova | Android | iOS</span>
              <br><br>
              <span class="icon-angular tecnologia-icon"></span>
              <span class="icon-ionic tecnologia-icon"></span>
              <span class="icon-javascript tecnologia-icon"></span>
              <span class="icon-html5 tecnologia-icon"></span>
              <span class="icon-css3 tecnologia-icon"></span>
              <span class="icon-sass tecnologia-icon"></span>
              <span class="icon-apachecordova tecnologia-icon"></span>
              <span class="icon-android herramienta-icon"></span>
              <span class="icon-appleinc herramienta-icon"></span>
              <br><br>
              <span class="herramienta-text">Visual Studio Code | Android Studio | Xcode | Git | SonarQube | Jenkins | npm</span>
              <br><br>
              <span class="icon-visualstudio herramienta-icon"></span>
              <span class="icon-xcode herramienta-icon"></span>
              <span class="icon-android1 herramienta-icon"></span>
              <span class="icon-git tecnologia-icon"></span>
              <span class="icon-sonarqube herramienta-icon"></span>
              <span class="icon-jenkins herramienta-icon"></span>
              <span class="icon-npm tecnologia-icon"></span>
            </div>
          </figure>
        </div> 

      </article>

      <article class="project">
        <section class="experience-container">  
          <ol>
            <li class="list-container">
              <a href="javascript:void(0);" class="timeline-head">
                <figure>
                  <img lazyload="true" class="company-logo" width="100" height="100" src="assets/images/serem-logo.png" alt="companyName">
                </figure>
                <div class="position-detail">
                  <div class="large-semibold"><span class="empresa">serem</span></div>
                  <div class="medium"> 10 meses</div>
                </div>
              </a>
              <div class="experience-roles-container collapsable-list-container">
                <ul>
                  <li class="role-container">
                    <div class="timeline">
                      <div class="landmark-container">
                        <div class="landmark"></div>
                      </div>
                    </div>
                    <dl>
                      <div class="job-experience">
                        <div class="job-experience_header">
                          <dt class="medium-semibold"><span>Developer PHP</span></dt>
                          <dd class="medium time-period">
                            <span class="medium">sept. 2016 - </span><span class="medium">jun. 2017 • 10 meses</span>
                          </dd>
                          <dd class="small-light entity-location"><span>Madrid y alrededores, España</span></dd>
                        </div>
                        <div (click)="showJobExperience()" class="iconShowMore">
                          <dd>
                            <ion-icon slot="icon-only" [name]="iconName"></ion-icon>
                          </dd>
                        </div>
                      
                      </div>
                      <dd class="medium entity-description" *ngIf="showDetailJobExperience">
                        <div class="description medium">
                          <span class="description-text">Desarrollo y mantenimiento de aplicaciones web PHP con metodología de trabajo Agile. Dichas aplicaciones estaban dirigidas a distribuidores y puntos de venta de la empresa Orange.</span>
                          <span class="description-text">Tecnologías usadas en diversos proyectos :</span>
                          <span class="description-text">• Metodología de trabajo Scrum</span>
                          <span class="description-text">• Symfony Framework con patrón MVC (Modelo/Vista/Controlador)</span>
                          <span class="description-text">• Control de versiones con GIT y SVN</span>
                          <span class="description-text">• PHP, SQL, JavaScript (Ajax y Jquery)</span>
                          <span class="description-text">• Despliegue de entornos locales/pre-producción con Vagrant</span>
                          <span class="description-text">• Sistema gestor de bbdd en diferentes aplicaciones: MySQL, Oracle, PostgreSQL, SQL Server</span>
                        </div>
                      </dd>
                    </dl>
                  </li>
                </ul>
              </div>
            </li>
          </ol>
        </section>
        <div class="experience-icons">
          <div class="project-details">
            <h3 class="project-title">Tecnologías y Herramientas</h3>
          </div>
          <figure class="project-imageContainer">
              <div class="tecnologias-herramientas">
                <span class="tecnologia-text">PHP | SQL| JavaScript | HTML 5 | CSS | Git | vagrant | Linux</span>
                <br><br>
                <span class="icon-php tecnologia-icon"></span>
                <span class=" icon-database tecnologia-icon"></span>
                <span class="icon-javascript tecnologia-icon"></span>
                <span class="icon-html5 tecnologia-icon"></span>
                <span class="icon-css3 tecnologia-icon"></span>
                <span class="icon-git tecnologia-icon"></span>
                <span class="icon-vagrant tecnologia-icon"></span>
                <span class="icon-tux tecnologia-icon"></span>              
                <br><br>
                <span class="herramienta-text">MySQL | Postgresql | Oracle DB | PHPStorm | SonarQube | Jenkins | Apache</span>
                <br><br>
                <span class="icon-mysql herramienta-icon"></span>
                <span class="icon-postgresql herramienta-icon"></span>
                <span class="icon-oracle herramienta-icon"></span>
                <span class="icon-intellijidea herramienta-icon"></span>
                <span class="icon-sonarqube herramienta-icon"></span>
                <span class="icon-jenkins herramienta-icon"></span>
                <span class="icon-apache herramienta-icon"></span>
              </div>
          </figure>
        </div>
        
      </article>

    </div>
  </section>

