<section id="projects" class="section-projects">
  <div class="projects-title">
    <h2>Proyectos</h2>
    <h5>Proyectos personales o profesionales en los que he participado</h5>
  </div>

  <div class="container-projects">
    <div class="projects">
      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/myhey.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">App | MyHey!</p>
            <p class="card-content-project-subtitle">Aplicación móvil híbrida construída con ionic, angular y capacitor</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/boda1-gracedu-2.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">Web | Invitación de Boda</p>
            <p class="card-content-project-subtitle">Aplicación web construída con ionic, angular y capacitor</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/miorangeapp.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">App | MiOrange</p>
            <p class="card-content-project-subtitle">Aplicación híbrida construída con ionic, angular y cordova</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/agendaunicaweb.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">Web | Portales orange</p>
            <p class="card-content-project-subtitle">Aplicaciones web construída con php</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/jazztelapp-1.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">App | MiJazztel</p>
            <p class="card-content-project-subtitle">Aplicación híbrida construída con ionic, angular y cordova</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/okn-project-1.jpeg"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">Web | Plataforma e-learning</p>
            <p class="card-content-project-subtitle">Aplicaciones web construída con php</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/dispel-1.jpeg"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">Web | Aplicación web para empresa de publicidad</p>
            <p class="card-content-project-subtitle">Aplicación web construída con wordpress</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/pokemon.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">Web | Aplicación web enfocado a pokemón GO </p>
            <p class="card-content-project-subtitle">Aplicación web construída con Angular JS</p>
          </div>
        </ion-card-content>
      </ion-card>

      <ion-card (mouseenter)="mostrarTexto()" (mouseleave)="ocultarTexto()">
        <ion-img src="assets/images/projects/nieltorres.png"></ion-img>
        <ion-card-content [hidden]="!mostrar">
          <div class="card-content-project">
            <p class="card-content-project-title">Web | Portafolio web</p>
            <p class="card-content-project-subtitle">Aplicaciones web construída con Ionic, Angular y Capacitor</p>
          </div>
        </ion-card-content>
      </ion-card>
      
      
    </div>
  </div>
</section>
