<ion-content>
  <app-menu></app-menu>
  <div class="page-complete" [ngClass]="hidden">
    <app-header></app-header>

    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-5xl px-6 lg:px-8 my-5">
        <div class="mx-auto max-w-4xl lg:mx-0">
          <h2 class="text-3xl font-bold tracking-tight text-gray-300 sm:text-4xl">Blog</h2>
          <p class="mt-2 text-lg leading-8 text-gray-50">En esta página encontrarás algunos
            artículos o cursos que he publicado en medium u otras plataformas </p>
        </div>
        <div
          class="mx-auto mt-10 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-0 lg:max-w-none lg:grid-cols-3">
          <article class="flex max-w-xl flex-col items-start justify-between" *ngFor="let article of articles">
            <div
              class="relative h-80 w-full overflow-hidden rounded-lg bg-white sm:aspect-h-1 sm:aspect-w-2 lg:aspect-h-1 lg:aspect-w-1 group-hover:opacity-75 sm:h-64">
              <img src="assets/images/blog/{{article.urlImage}}"
                alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug."
                class="h-full w-full object-cover object-center">
            </div>
            <div class="flex items-center gap-x-4 text-xs my-5">
              <time datetime="2020-03-16" class="text-gray-50">{{article.datePublication}}</time>
              <p class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
                {{article.label1}}</p>
              <p class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-gray-600 hover:bg-gray-100">
                {{article.label2}}</p>
            </div>
            <div class="group relative">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-300 group-hover:text-gray-50">
                <a href="{{article.urlBlog}}" target="_blank">
                  <span class="absolute inset-0"></span>
                  {{article.title}}
                </a>
              </h3>
              <p class="mt-5 line-clamp-3 text-sm leading-6 text-gray-50">{{article.description}}</p>
              <a href="{{article.title}}" class="text-sm font-semibold leading-6 text-orange-300" target="_blank">Ver
                más <span aria-hidden="true">→</span></a>

            </div>
            <!-- <div class="relative mt-6 flex items-center gap-x-4">
              <img
                src="assets/images/memoji.jpg"
                alt="" class="h-10 w-10 rounded-full bg-gray-50">
              <div class="text-sm leading-6">
                <p class="font-semibold text-gray-300">
                  <a href="#">
                    <span class="absolute inset-0"></span>
                    Niel Torres
                  </a>
                </p>
                <p class="text-gray-400">Co-Founder / CTO</p>
              </div>
            </div> -->
          </article>

          <!-- More posts... -->
        </div>
      </div>
    </div>

    <app-contact-ubication></app-contact-ubication>
    <app-footer></app-footer>

  </div>
</ion-content>