.section-profile {
    background: radial-gradient(#464545, black);
}

.container {
    flex: 1;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
    //max-width: 1000px;
}

.profile-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    //background: radial-gradient(#464545, black);
    padding: 25px 0 25px 0;
    padding-bottom: 10%;
    padding-top: 10%;
    margin-bottom: -1px;
}

.left-section {
    padding-bottom: 30px;
    padding-right: 50px;

    .name {
        font-family: Poppins, sans-serif;
        font-weight: 700;
        margin-bottom: 10px;
        font-size: 4.768rem;
        color: white;
    }

    .role {
        font-size: 1.6rem;
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        color: white;
    }

    .sub-role {
        font-size: 0.95rem;
        font-weight: 200;
        font-family: 'Fira Sans', sans-serif;
        color: white;
    }
}

.right-section {
    //height: 350px;
    //width: 350px;
}

.image-profile {
    //display: inline-block;
    max-width: 100%;
    //overflow: hidden;
    //position: relative;
    box-sizing: border-box;
    margin: 0;

    img {
        padding: 50px;
        width: 350px;
    }

    ion-img {
        padding: 50px;
        width: 350px;
    }
}

.circulo {
    background: radial-gradient(#AC3CA8, black);
    filter: drop-shadow(0 0 3.75rem #AC3CA8);
    
   //background: radial-gradient(#590356, black);
    //filter: drop-shadow(0 0 3.75rem red);

    flex-direction: column;
    align-items: center;
    box-shadow: 3px 5px 4px rgba(0, 0, 0, .25);
    border-radius: 50%;
    z-index: 1;
}

.social-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 15px;

    a {
        position: relative;
        display: -moz-box;
        display: flex;
        -moz-box-pack: center;
        justify-content: center;
        -moz-box-align: center;
        align-items: center;
        background-color: #fff;
        height: 3rem;
        width: 3rem;
        border-radius: 20%;
        font-size: 2rem;
        outline: 0 solid;
        text-decoration: none !important;
        -webkit-box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, .3);
        box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, .3);
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        transition: all .3s ease-out;
        margin-right: 25px;
    }
}

@media screen and (orientation: landscape) and (max-width: 896px) {
    .profile-container {

        .left-section {
            .name {
                font-size: 2.9rem;
            }
        }
    }

    .image-profile {
    
        img {
            padding: 50px;
            width: 310px;
        }
    
        ion-img {
            padding: 50px;
            width: 310px;
        }
    }
}


@media screen and (max-width: 820px) {
    .profile-container {
        .left-section {
            align-content: center;
            align-items: center;
            display: grid;
            justify-content: center;
            justify-items: center;
            padding-right: 0px;

            .name {
                font-size: 3.9rem;
            }
            .social-links {
                a {
                    margin: 5px;
                }

            }
        }
    }
}

@media screen and (max-width: 767px) {

    .profile-container {
        padding-top: 30%;

        .left-section {
            .name {
                font-size: 3.768rem;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .profile-container {
        padding-top: 38%;

        .left-section {
            .name {
                font-size: 3.1rem;
            }
        }
    }
}

@media screen and (max-width: 285px) {
    .profile-container {
        padding-top: 45%;

        .left-section {
            .name {
                font-size: 2.5rem;
                text-align: center;
            }

            .role {
                text-align: center;
            }

            .social-links {
                a {
                    margin-right: 5px;
                    width: 2.5rem;
                }

            }
        }
    }
}