<ion-menu contentId="main-content" (ionWillOpen)="menuWillOpen()" (ionWillClose)="menuWillClose()">
  <ion-header>
    <div class="menu_logo_toolbar">
      <div class="menu_logo_div">
        <img src="assets/icon/favicon.jpg" height="50" alt="Logo de http://nieltorres.com" />
      </div>
    </div>
  </ion-header>
  <ion-content class="ion-padding menu-links">
    <ion-buttons>
      <ion-menu-toggle *ngFor="let linkMenu of linksMenu">
        <ion-button *ngIf="!linkMenu.url; else buttonOptional" routerLink="{{linkMenu.link}}" routerDirection="root">
          <ion-icon name="{{linkMenu.icon}}"></ion-icon>
          <!-- <ion-label>{{ linkMenu.name | capitalizar }} </ion-label> -->
          <ion-label>{{linkMenu.name}} </ion-label>
        </ion-button>

        <ng-template #buttonOptional>
          <ion-button (click)="goToLink(linkMenu.url)">
            <ion-icon name="{{linkMenu.icon}}"></ion-icon>
            <ion-label>{{linkMenu.name}}</ion-label>
          </ion-button>
        </ng-template>
      </ion-menu-toggle>
    </ion-buttons>
  </ion-content>
</ion-menu>