.menu-links {
    --background: radial-gradient(#433243, black);
    --filter: drop-shadow(0 0 3.75rem #AC3CA8);


    ion-icon {
        color: white;
        font-size: 20px;
        margin-right: 10px;
        //margin-left: -5px;
    }

    ion-buttons {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
        align-items: flex-start;
        margin-left: 5%;
        
        ion-button {
            margin: 10px 0px;
        }

        ion-label{
            color: white;
        }
    }


}

.menu_logo_toolbar{



    .menu_logo_div{
        display: flex;
        justify-content: center;
        background: radial-gradient(#433243, black);
        filter: drop-shadow(0 0 3.75rem #AC3CA8);

        img {
            margin: 9% 0px;
        }

    }
}

