.hidden {
  contain: layout size style;
  display: block;
}

.aboutMe-profile {
  padding-top: -5px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;

  ion-img {
    width: 400px;
    height: auto;
  }
}

.content {
  max-width: 800px;
  margin: 0px 8%;
  //height: 800px;
}

.contentPage {
  background: radial-gradient(#493845, black);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-top: 5%;

  background: radial-gradient(#493845, black);

  .title {
    //font-family: Poppins, sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 700;
    font-size: 3.168rem;
    color: white;
  }

  p {
    font-size: 1.2rem;
    font-weight: 200;
    //font-family: 'Fira Sans', sans-serif;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    color: white;
    text-align: justify;
  }
}

@media screen and (orientation: landscape) and (max-width: 896px) {
  
  .contentPage {
    .title {
      font-size: 3.168rem;
    }

    p{
      font-size: 1.2rem;
    }
  }

  .content {
    margin: 5% 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .aboutMe-profile {
    ion-img {
      width: 330px;
    }
  }

}

@media screen and (max-width: 767px) {
  .contentPage {
    padding-top: 25%;

    .title {
      font-size: 2.568rem;
    }
  
    p {
      font-size: 1.2rem;
    }
  }

  .aboutMe-profile {

    ion-img {
      width: 300px;
    }
  }

  .content {
    height: auto;
  }
}


@media screen and (max-width: 425px) {
  .contentPage {
    padding-top: 35%;
    .title {
      font-size: 2.168rem;
    }
  
    p {
      font-size: 0.9rem;
    }
  }

}

@media screen and (max-width: 280px) {
  .contentPage {
    padding-top: 40%;
    .title {
      font-size: 2.068rem;
    }
  
    p {
      font-size: 0.8rem;
    }
  }

  .aboutMe-profile {

    ion-img {
      width: 200px;
    }
  }
}

@media screen and (min-width: 768px) and (min-height: 1100px){
  .aboutMe-profile {

    ion-img {
      width: auto;
      height: auto;
    }
  }
}